PORT=5000
MONGO_URI=mongodb://mithunpedia_db_user:mithunmongodb@ac-wjxr2ze-shard-00-00.geceknb.mongodb.net:27017,ac-wjxr2ze-shard-00-01.geceknb.mongodb.net:27017,ac-wjxr2ze-shard-00-02.geceknb.mongodb.net:27017/swapnshare?ssl=true&replicaSet=atlas-2vyr7z-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=replace_with_a_long_random_secret
CORS_ORIGIN=http://localhost:3001
